/* ************FUENTES**************** */
@font-face {
  font-family: Cabin;
  src: url(./fonts/Cabin-Regular.ttf);
}
@font-face {
  font-family: Naruto;
  src: url(./fonts/NinjaNaruto-YOn4.ttf);
}

/* ! CODIGO */
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("./images/Fondobackground.png");
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  padding-top: 25px;
}

/* * CONTENEDORES GENERALES */


.portadaInicio {
  border-radius: 15px;
}

.rectangleInicio {
  /* ? ESTO CONTROLA EL FONDO DEL CONTENIDO*/
  display: flex;
  position: relative;
  top: -20px;
  max-width: 889px;
  min-height: 600px;
  background: rgba(9, 5, 6, 0.85);
  border-radius: 15px;
  z-index: -1;
}
.navegadorGeneral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(96, 28, 31, 0.85);
  width: 164px;
  height: 100%;
  transition: width 0.5s ease;
  z-index: 0;
}
.navegadorGeneral:hover {
  background: rgba(60, 28, 31);
  width: 371px;
}
.iconoNav{
  position: relative;
  height: 97px;
  width: 97px;
  left: 33px;
  top: 18px;
  border-radius: 0px;
  transition: all 0.5s;
}
.navegadorGeneral:hover .iconoNav{
    border-radius: 10px;
    transition: all 0.5s;
    left: 137px;
}

.navegadorGeneral:hover .labelIconExpandido {
  opacity: 1;
  left: 122px;
}

.hrNav{
  position: relative;
  color: white;
  width: 50%;
  top: 40px;
  left: 25%;
  align-items: center;
  border-width: 5px;
}

.linksNavegador{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding-top: 50%;
}
.linksNavegador li a{
  font-family: Cabin;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 29px;
  display: none;
  transition: all 0.5s;
}

.linksNavegador li{
  list-style: none;
  display: flex;
  margin: 25px;
}
.linksNavegador li img{
  height: 60px;
  width: 60px;
}
.navegadorGeneral:hover .linksNavegador li a{
  display: flex;
  margin-left: 30px;
  align-items: center;
  transition: all 0.5s;
  background-color: rgba(32, 14, 17);
  width: 0px;
}

#hoverIconNav:hover{
  transition: width 0.5s;
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: auto;
  background-color: rgb(155, 78, 91);
  width: 225px;
  height: 60px;
  border-radius: 5px;
}






/* ! MEDIA QUIRIES PARA TODO - NO TOCAR */

@media (max-height: 735px){
  .linksNavegador{
    padding-top: 40px;
  }
}

@media (min-width: 1440px) {
    /* ? TAMAÑO PC*/
    .portadaInicio {
      position: relative;
      left: 616px;
    }
    .rectangleInicio {
      position: relative;
      left: 616px;
    }
  }
  @media (width: 1280px) {
    /* ? TAMAÑO LAPTOP*/
    .portadaInicio {
      position: relative;
      left: 391px;
    }
    .rectangleInicio {
      position: relative;
      left: 391px;
    }
  }
  @media (min-width: 1280px) {
    /* ? TAMAÑO PC -> lAPTOP*/
    .navBarCellphone {
      display: none;
    }
    
  }
  @media (max-width: 1279px){
    .rectangleInicio{
      top: -30px;
    }
    .hrNav{
      opacity: 0;
    }
    .navegadorGeneral{
      width: 97px;
      height: 97px;
      border-radius: 10px;
    }
    .iconoNav{
      top: 0px;
      left: 0px;
    }
    .navegadorGeneral:hover{
      width: 371px;
      height: 100%;
    }
    .navegadorGeneral:hover .hrNav{
      opacity: 1;
    }
    .linksNavegador li img{
      display: none;
      transition: all 0.5s;
    }
    .navegadorGeneral:hover .linksNavegador li img{
      display: flex;
      transition: all 0.5s;
    }

  }











/*! INDEX CODE */
