@charset "UTF-8";
@font-face {
  font-family: Cabin;
  src: url(./fonts/Cabin-Regular.ttf); }

@font-face {
  font-family: Naruto;
  src: url(./fonts/NinjaNaruto-YOn4.ttf); }

/* ! CODIGO */
* {
  margin: 0%;
  padding: 0%; }

body {
  background-image: url("./images/Fondobackground.png");
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  padding-top: 25px; }

/* * CONTENEDORES GENERALES */
.portadaInicio {
  border-radius: 15px; }

.rectangleInicio {
  /* ? ESTO CONTROLA EL FONDO DEL CONTENIDO*/
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
  max-width: 889px;
  height: 300px;
  background: rgba(9, 5, 6, 0.85); }

.rectangleObjetsGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -10px;
  max-width: 889px;
  min-height: 400px;
  background: rgba(9, 5, 6, 0.85);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
  padding-bottom: 20px; }

.navegadorGeneral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(9, 5, 6, 0.85);
  width: 100px;
  height: 100%;
  transition: width 0.5s ease;
  z-index: 0; }
  .navegadorGeneral:hover {
    background: rgba(9, 5, 6, 0.85);
    width: 150px; }

.iconoNav {
  position: relative;
  height: 97px;
  width: 97px;
  top: 18px;
  left: 0px;
  border-radius: 0px;
  transition: all 0.5s; }

.navegadorGeneral:hover .iconoNav {
  border-radius: 10px;
  transition: all 0.5s;
  left: 30px; }

.tituloMenuGeneral {
  white-space: nowrap;
  position: relative;
  top: -48px;
  left: 0px;
  font-family: Naruto;
  color: #FFFFFF;
  opacity: 0; }

.navegadorGeneral:hover .tituloMenuGeneral {
  opacity: 1;
  transition: all 0.5s;
  position: relative;
  left: 150px;
  top: -66px;
  background: rgba(9, 5, 6, 0.85);
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.hrNav {
  opacity: 1;
  position: relative;
  color: white;
  width: 50%;
  top: 0px;
  left: 25%;
  align-items: center;
  border-width: 5px; }

/* .linksNavegador{
    display: flex;
    flex-direction: column;
  } */
.navegadorGeneral:hover ~ .imgNavIcon {
  display: flex; }

.linksNavegador li {
  list-style: none;
  display: flex; }
  .linksNavegador li a {
    display: flex;
    margin-top: 60px;
    font-family: Cabin;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 29px;
    transition: all 0.5s; }

.imgNavIcon {
  height: 60px;
  width: 60px; }

.textLinkNav {
  opacity: 0;
  position: relative;
  /* left: -90px; */ }

.imgNavIcon:hover ~ .textLinkNav {
  opacity: 1;
  transition: all 0.5s;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  background: rgba(9, 5, 6, 0.85);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  left: 58px; }

.carousel {
  position: relative;
  top: 22px;
  left: 388px;
  width: 485px;
  height: 267px;
  z-index: 1; }

#tituloCaruselText {
  font-family: Cabin;
  font-size: 20px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }

#descripcionCaruselText {
  font-family: Cabin;
  font-size: 12px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }

.carousel-item img {
  border-radius: 10%; }

.squareDescripcion {
  position: absolute;
  margin-top: 22px;
  margin-left: 20px;
  width: 342px;
  height: 267px;
  max-width: 342px;
  max-height: 267px;
  background: #200E11;
  border-radius: 30px; }

.tituloPaginaGeneral {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 3px; }

.descripcionPaginaGeneral {
  font-family: Cabin;
  text-align: justify;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px; }

footer {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  font-family: Cabin;
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: rgba(9, 5, 6, 0.85);
  z-index: -1; }

.scrollLinkInicio {
  max-width: 100%; }

.tituloPaginaFichas, .descripcionPaginaFichas {
  padding-top: 20px; }

.botonPJ {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 29px;
  width: 88px;
  height: 34px;
  background: #4F1A1E;
  border-radius: 10px; }

.botonNPC {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 126px;
  width: 88px;
  height: 34px;
  background: #4F1A1E;
  border-radius: 10px; }

.botonPC {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 223px;
  width: 88px;
  height: 34px;
  background: #4F1A1E;
  border-radius: 10px; }

#botontextPJ, #botontextNPC, #botontextPC {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px; }

.descripcionPaginaFichas2 {
  font-family: Cabin;
  text-align: justify;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px; }

.fichaPrimerSection {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pestañaDatosFicha {
  position: relative;
  width: 700px;
  height: 1120px;
  background: rgba(127, 124, 124, 0.5);
  border-radius: 20px; }

#fotoPersonajeFicha {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 550px;
  height: 550px;
  left: 75px;
  top: 17px;
  background: #D9D9D9; }

#opcionesFicha {
  position: relative;
  width: 114px;
  height: 22px;
  left: 196px;
  top: 573px;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center; }

#editarFichaOption {
  position: absolute;
  text-decoration: none;
  color: #090506; }

#borrarFichaOption {
  position: absolute;
  left: 200px;
  width: 124px;
  height: 22px;
  text-decoration: none;
  color: #090506; }

#opcionesFicha a:hover {
  color: white; }

.nombrePersonajeFicha {
  position: absolute;
  width: 700px;
  height: 57px;
  top: 601px;
  background: #090506;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF; }

/*  */
/* DATOS BASICOS FICHA */
/*  */
.labelDatosBasicosFicha {
  position: absolute;
  width: 161px;
  height: 45px;
  top: 683px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4F1A1E;
  border-radius: 0px 15px 15px 0px;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px; }

.datosbasicosInfoFicha {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 312px;
  height: 39px; }

.labelbackgroundInfo {
  background: #090506;
  border-radius: 10px;
  padding-left: 20px;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: left; }

.edadInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 759px; }

.clanInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 759px; }

.alturaInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 803px; }

.pesoInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 803px; }

.anaciInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 847px; }

.aresiInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 847px; }

.bandoInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 891px; }

.profesionInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 891px; }

.sangreInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 935px; }

.mascotaInfoFicha {
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 935px; }

.apodoInfoFicha {
  position: absolute;
  width: 623px;
  height: 89px;
  left: 38px;
  top: 979px; }

.rectangleObjetsSistemas {
  min-width: -90px; }

.tituloPaginaSistemas {
  padding-top: 20px; }

.descripcionPaginaSistemas {
  padding-top: 30px; }

.iconosSistemasGeneral {
  /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
  display: grid;
  margin-top: 10px;
  margin-left: 5px;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 225px 225px 225px; }

.inputIconGeneral {
  /* ? Esto es para ocultar los radios*/
  display: none; }

.ImgSistema {
  /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  max-width: 214px;
  max-height: 214px;
  border-radius: 10px; }

.resetExitInput {
  display: none; }

.resetExitIcon {
  position: relative;
  left: 340px;
  cursor: pointer;
  border: #000 2px solid;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  height: 20px;
  width: 20px; }
  .resetExitIcon:hover {
    background-color: #FFFFFF; }

/*  */
/* ! ESTADISTTICAS */
/*  */
.backgroundEstadisticaSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.estadisticaInputSistema:checked ~ .backgroundEstadisticaSistemaSlide {
  opacity: 1;
  animation: slide 0.5s forwards; }

.sistemaTextDescripcion {
  /* ? ESTO CONTROLA TODOS LOS TEXTOS DESCRIPTIVOS DE LOS SISTEMAS*/
  display: block;
  font-family: Cabin;
  text-align: justify;
  color: white;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 380px;
  height: 760px;
  overflow-y: scroll; }
  .sistemaTextDescripcion #tituloSistemaSlide {
    /* ! ESTO CONTROLA TODOS LOS TITULOS */
    position: relative;
    align-items: center;
    text-align: center;
    top: -40px;
    display: block;
    font-family: Naruto;
    font-size: 20px;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }
  .sistemaTextDescripcion img {
    border-radius: 10px; }
  .sistemaTextDescripcion::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .sistemaTextDescripcion:-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px; }
  .sistemaTextDescripcion:-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px; }

/* ! */
/* ! ENTRE LOS COMENTARIOS ROJOS ES PARA EL SIDEBAR DE LA BARRA LATERAL */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* RESPETO SISTEMA */
.RespetoInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundRespetoSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.RespetoInputSistema:checked ~ .backgroundRespetoSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* CHAKRA SISTEMA */
.ChakraInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundChakraSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.ChakraInputSistema:checked ~ .backgroundChakraSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* SENJUTSU SISTEMA */
.senjutsuInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundSenjutsuSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.senjutsuInputSistema:checked ~ .backgroundSenjutsuSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* REFLEJOS SISTEMA */
.reflejosInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundreflejosSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.reflejosInputSistema:checked ~ .backgroundreflejosSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* BUFFS SISTEMA */
.buffsInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundBuffsSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.buffsInputSistema:checked ~ .backgroundBuffsSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* DAÑO SISTEMA */
.dañoInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundDañoSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.dañoInputSistema:checked ~ .backgroundDañoSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* RESISTENCIA DE CHAKRA SISTEMA */
.resistenciaInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundResistenciaSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.resistenciaInputSistema:checked ~ .backgroundResistenciaSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* HERIDAS SISTEMA */
.heridasInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundHeridasSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.heridasInputSistema:checked ~ .backgroundHeridasSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* ATAQUES COMBINADOS SISTEMA */
.ataquesCombinadosInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundataquesCombinadosSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.ataquesCombinadosInputSistema:checked ~ .backgroundataquesCombinadosSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* RANGOS SISTEMA */
.rangosInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundRangosSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.rangosInputSistema:checked ~ .backgroundRangosSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

/* HIJOS SISTEMA */
.hijosInputSistema {
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px; }

.backgroundHijosSistemaSlide {
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background: rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3; }

.hijosInputSistema:checked ~ .backgroundHijosSistemaSlide {
  /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards; }

.hrSistemas {
  color: #dfdfdf;
  border: 1px #FFFFFF solid;
  position: relative;
  left: 13%;
  width: 75%;
  z-index: 2;
  opacity: 1; }

.tituloAdicional1 {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-family: Naruto;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }

#ejemploChakra1 {
  display: block;
  color: yellow;
  border: 1px dashed #ff0000;
  background: rgba(155, 111, 0, 0.35); }

#ejemploChakra2 {
  display: block;
  color: #7f7c7c;
  border: 1px dashed #4f1a1e;
  background: rgba(128, 38, 41, 0.35);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px; }

#infoImportanteSistemas {
  /* ! ESTO CONTROLA LOS TEXTOS IMPORTANTES*/
  color: #088018;
  text-decoration: underline; }

#infoImportanteBoldSistemas {
  /* ! ESTO CONTROLA LOS TEXTOS TITULO BOLD*/
  font-weight: bold;
  color: #090c08; }

#infoImportanteAvisos {
  font-weight: bold;
  color: #c191a1; }

#desaparecerlista {
  list-style: none; }

.clickButtonSistema {
  color: #cace07;
  text-decoration: none;
  cursor: pointer; }

@keyframes slide {
  100% {
    left: 1509px; } }

.tituloPaginaTalleres {
  padding-top: 20px; }

.descripcionPaginaTalleres {
  padding-top: 40px; }

.tituloPaginaEventos {
  padding-top: 20px; }

.descripcionPaginaEventos {
  padding-top: 40px; }

.rectangleObjetsGeneral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 29px; }

.EventoFondo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/plantillas/fondoEventos.webp);
  border-radius: 10px;
  width: 320px;
  height: 449px;
  z-index: 3; }

.tituloEvento {
  color: #dfdfdf;
  font-family: Naruto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(32, 14, 17, 0.7); }

.descripcionEvento {
  position: relative;
  top: 117px;
  color: #dfdfdf;
  text-align: justify;
  font-family: Cabin;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(32, 14, 17, 0.7); }

/* ! TIENDA HTML */
.rectangleObjetsGeneral {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; }

.tituloTiendaPrincipal {
  padding-top: 20px; }

.descripcionTiendaPrincipal {
  padding-top: 40px; }

.tituloTienda {
  padding-top: 10px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-family: Naruto;
  background-color: rgba(32, 14, 17, 0.7);
  border-radius: 10px;
  width: 100%; }

.portadaTienda {
  border-radius: 10px; }

.inputRadioTienda {
  display: none; }

.labelRadioTienda {
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  padding: 8px;
  color: #c7d100;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #c7d100; }
  .labelRadioTienda:hover {
    color: black;
    background-color: #c7d100;
    transition: all 0.5s; }

.sectionArmasLanzables {
  display: flex;
  flex-direction: row; }

.fondoCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(96, 28, 31, 0.4);
  max-width: 380px;
  max-height: 440px; }

.tituloCard {
  margin-top: 10px;
  text-align: center;
  color: #FFFFFF;
  font-family: Naruto;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fondoCard img {
  max-width: 100%;
  border-radius: 10px; }

.descripcionCard {
  color: #FFFFFF;
  text-align: justify;
  font: Cabin;
  overflow: hidden;
  overflow-y: scroll;
  height: 80px; }

.descripcionDetallesObjeto {
  width: 100%;
  text-align: center;
  display: block;
  color: yellow;
  border: 2px dashed #000000;
  background: rgba(155, 111, 0, 0.35);
  font-size: 10px; }

/*  */
/*  */
.descripcionCard::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #dfdfdf;
  width: 5px;
  height: 5px; }

.descripcionCard::-webkit-scrollbar-thumb {
  background: #000; }

/*  */
/*  */
/*  */
/*  */
/*  */
.sectionGeneralTienda {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row; }

/*  */
/*  */
/*  */
/*  */
/*  */
.sectionArmasLanzables {
  display: none; }

.inputArmasLanzables:checked ~ .sectionArmasLanzables {
  display: flex;
  gap: 10px; }

/*  */
.sectionEspadas {
  display: none; }

.inputEspadas:checked ~ .sectionEspadas {
  display: flex;
  gap: 10px; }

/*  */
.sectionKyujutsu {
  display: none; }

.inputKyujutsu:checked ~ .sectionKyujutsu {
  display: flex;
  gap: 10px; }

/*  */
.sectionArmasVariadas {
  display: none; }

.inputArmasVariadas:checked ~ .sectionArmasVariadas {
  display: flex;
  gap: 10px; }

@media (max-height: 735px) {
  .linksNavegador {
    padding-top: 40px; } }

@media (min-width: 1550px) {
  /* ? TAMAÑO PC*/
  .portadaInicio, .rectangleInicio, .rectangleObjetsGeneral {
    position: relative;
    left: 616px; } }

@media (min-width: 1280px) and (max-width: 1549px) {
  /* ? TAMAÑO LAPTOP*/
  .portadaInicio, .rectangleInicio, .rectangleObjetsGeneral {
    position: relative;
    left: 351px; }
  .backgroundSistemasGeneral {
    background: #1e1014; }
  @keyframes slide {
    100% {
      left: 860px; } } }

@media (min-width: 1280px) {
  /* ? TAMAÑO PC -> lAPTOP*/
  .navBarCellphone {
    display: none; }
  footer {
    margin-left: 164px; } }

@media (max-width: 1279px) {
  .rectangleInicio {
    /* top: -30px; */
    display: flex;
    justify-content: center;
    min-height: 576px; }
  .linksNavegador {
    display: flex;
    flex-direction: column; }
  .hrNav {
    display: none; }
  .navegadorGeneral {
    width: 97px;
    height: 97px;
    border-radius: 10px;
    z-index: 2; }
  .iconoNav {
    top: 0px;
    left: 0px; }
  .navegadorGeneral:hover {
    width: 150px;
    height: 100%; }
    .navegadorGeneral:hover .hrNav {
      display: flex; }
    .navegadorGeneral:hover .linksNavegador {
      display: flex;
      transition: all 0.5s; }
  .linksNavegador li {
    display: none;
    transition: all 0.5s; }
  .navegadorGeneral:hover .linksNavegador li {
    display: flex;
    transition: all 0.5s; }
  .squareDescripcion {
    margin-left: 0px; }
  .carousel {
    position: relative;
    left: auto;
    top: 299px;
    z-index: 1; }
  .backgroundSistemasGeneral {
    background: #1e1014; } }

@media (max-width: 768px) {
  @keyframes slide {
    100% {
      left: 369px; } } }

@media (max-width: 768px) and (max-width: 485px) {
  .rectangleInicio {
    /* top: -30px; */
    display: flex;
    justify-content: center;
    min-height: 551px; }
  .rectangleObjetsGeneral a img {
    width: 428px; }
  .linksNavegador li a {
    display: flex;
    margin-top: 30px; }
  /* Sistemas */
  .iconosSistemasGeneral {
    /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
    display: grid;
    justify-content: center;
    grid-template-columns: 53% 53%;
    grid-template-rows: 191px 191px 191px 191px 191px; }
  .ImgSistema {
    max-width: 180px;
    max-height: 180px; }
  @keyframes slide {
    100% {
      left: 19px; } }
  /* FICHAS */
  .fondoFicha {
    margin-top: 220px;
    transform: rotate(90deg); }
  .fondoFotoPerfil {
    transform: rotate(90deg); } }

@media (max-width: 768px) and (width: 768px) {
  /* SISTEMAS */
  .iconosSistemasGeneral {
    /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
    display: grid;
    justify-content: center;
    grid-template-columns: 26% 26% 26% 26%;
    grid-template-rows: 191px 191px 191px 191px 191px; }
  .ImgSistema {
    max-width: 180px;
    max-height: 180px; } }
