/* ************FUENTES**************** */
@font-face {
  font-family: Cabin;
  src: url(./fonts/Cabin-Regular.ttf);
}
@font-face {
  font-family: Naruto;
  src: url(./fonts/NinjaNaruto-YOn4.ttf);
}

/* ! CODIGO */
* {
  margin: 0%;
  padding: 0%;
  
}

body {
  background-image: url("./images/Fondobackground.png");
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  padding-top: 25px;
}

/* * CONTENEDORES GENERALES */


.portadaInicio {
  border-radius: 15px;
}

.rectangleInicio {
  /* ? ESTO CONTROLA EL FONDO DEL CONTENIDO*/
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
  max-width: 889px;
  height: 300px;
  background: rgba(9, 5, 6, 0.85);
  /* z-index: -1; */
}

.rectangleObjetsGeneral{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -10px;
  max-width: 889px;
  min-height: 400px;
  background: rgba(9, 5, 6, 0.85);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
  padding-bottom: 20px;
}


.navegadorGeneral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(96, 28, 31, 0.85);
  width: 164px;
  height: 100%;
  transition: width 0.5s ease;
  z-index: 0;
}
.navegadorGeneral:hover {
  background: rgba(60, 28, 31);
  width: 371px;
}
.iconoNav{
  position: relative;
  height: 97px;
  width: 97px;
  left: 33px;
  top: 18px;
  border-radius: 0px;
  transition: all 0.5s;
}
.navegadorGeneral:hover .iconoNav{
    border-radius: 10px;
    transition: all 0.5s;
    left: 137px;
}

.navegadorGeneral:hover .labelIconExpandido {
  opacity: 1;
  left: 122px;
}

.hrNav{
  position: relative;
  color: white;
  width: 50%;
  top: 40px;
  left: 25%;
  align-items: center;
  border-width: 5px;
}

.linksNavegador{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding-top: 50%;
}
.linksNavegador li a{
  font-family: Cabin;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 29px;
  display: none;
  transition: all 0.5s;
}

.linksNavegador li{
  list-style: none;
  display: flex;
  margin: 25px;
}
.linksNavegador li img{
  height: 60px;
  width: 60px;
}
.navegadorGeneral:hover .linksNavegador li a{
  display: flex;
  margin-left: 30px;
  align-items: center;
  transition: all 0.5s;
  background-color: rgba(32, 14, 17);
  width: 0px;
}

#hoverIconNav:hover{
  transition: width 0.5s;
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: auto;
  background-color: rgb(155, 78, 91);
  width: 225px;
  height: 60px;
  border-radius: 5px;
}


.carousel{
  position: relative;
  top: 22px;
  left: 388px;
  width: 485px;
  height: 267px;
  z-index: 1;
}

#tituloCaruselText{
  font-family: Cabin;
  font-size: 20px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
#descripcionCaruselText{
  font-family: Cabin;
  font-size: 12px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


.carousel-item img{
  border-radius: 10%;
}

.squareDescripcion{
  position: absolute;
  margin-top: 22px;
  margin-left: 20px;
  width: 342px;
  height: 267px;
  max-width: 342px;
  max-height: 267px;
  background: #200E11;
  border-radius: 30px;
}
.tituloPaginaGeneral{
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 3px;
}
.descripcionPaginaGeneral{
  font-family: Cabin;
  text-align: justify;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
}




footer{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  font-family: Cabin;
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: rgb(9, 5, 6, 0.85);
  z-index: -1;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*! INDEX CODE */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */



.scrollLinkInicio{
 max-width: 100%;   
}




/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*! FICHAS CODE */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.tituloPaginaFichas{
  padding-top: 20px;
}
.descripcionPaginaFichas{
  padding-top: 20px;
}

.botonPJ{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 29px;
  width: 88px;
  height: 34px;
  background: #4F1A1E;
  border-radius: 10px;
}
.botonNPC{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 126px;
  width: 88px;
  height: 34px;
  background: #4F1A1E;
  border-radius: 10px;
}
.botonPC{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 223px;
  width: 88px;
  height: 34px;
  background: #4F1A1E;
  border-radius: 10px;
}
#botontextPJ{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
#botontextNPC{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
#botontextPC{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.descripcionPaginaFichas2{
  font-family: Cabin;
  text-align: justify;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;

}

.fichaPrimerSection{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.pestañaDatosFicha{
  position: relative;
  width: 700px;
  height: 1120px;
  background: rgba(127, 124, 124, 0.5);
  border-radius: 20px;
}
#fotoPersonajeFicha{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 550px;
  height: 550px;
  left: 75px;
  top: 17px;
  background: #D9D9D9;
}
#opcionesFicha{
  position: relative;
  width: 114px;
  height: 22px;
  left: 196px;
  top: 573px;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
#editarFichaOption{
  position: absolute;
  text-decoration: none;
  color: #090506;
}
#borrarFichaOption{
  position: absolute;
  left: 200px;
  width: 124px;
  height: 22px;
  text-decoration: none;    
  color: #090506;
}
#opcionesFicha a:hover{
  color: white;
}
.nombrePersonajeFicha{
  position: absolute;
  width: 700px;
  height: 57px;
  top: 601px;
  background: #090506;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
/*  */
/* DATOS BASICOS FICHA */
/*  */
.labelDatosBasicosFicha{
  position: absolute;
  width: 161px;
  height: 45px;
  top: 683px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4F1A1E;
  border-radius: 0px 15px 15px 0px;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.datosbasicosInfoFicha{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 312px;
  height: 39px;
}
.labelbackgroundInfo{
  background: #090506;
  border-radius: 10px;
  padding-left: 20px;
  color: #FFFFFF;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:left;
}
.edadInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 759px;
}
.clanInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 759px;
}
.alturaInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 803px;    
}
.pesoInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 803px; 
}
.anaciInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 847px;
}
.aresiInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 847px;
}
.bandoInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 891px;
}
.profesionInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 891px;
}
.sangreInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 38px;
  top: 935px;
}
.mascotaInfoFicha{
  position: absolute;
  width: 312px;
  height: 39px;
  left: 350px;
  top: 935px;
}
.apodoInfoFicha{
  position: absolute;
  width: 623px;
  height: 89px;
  left: 38px;
  top: 979px;    
}


















/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*! SISTEMAS CODE */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.tituloPaginaSistemas{
  padding-top: 20px;
}
.descripcionPaginaSistemas{
  padding-top: 30px;
}

.iconosSistemasGeneral{ /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
  display: grid;
  margin-top: 10px;
  margin-left: 5px;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 225px 225px 225px 225px 225px;

}
.inputIconGeneral{ /* ? Esto es para ocultar los radios*/
  display: none;
}
.ImgSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  max-width: 214px;
  max-height: 214px;
  border-radius: 10px;
}
.resetExitInput{
  display: none;
}
.resetExitIcon{
  position: relative;
  left: 340px;
  cursor: pointer;
  border: #000 2px solid;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  height: 20px;
  width: 20px;
}
.resetExitIcon:hover{
  background-color: #FFFFFF;
}
  /*  */
  /* ! ESTADISTTICAS */
  /*  */

.backgroundEstadisticaSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.estadisticaInputSistema:checked ~ .backgroundEstadisticaSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}

.sistemaTextDescripcion #tituloSistemaSlide{ /* ! ESTO CONTROLA TODOS LOS TITULOS */
  position: relative;
  align-items: center;
  text-align: center;
  top: -40px;
  display: block;
  font-family: Naruto;
  font-size: 24px;
  width: 100%;
  color: #FFFFFF;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.sistemaTextDescripcion{ /* ? ESTO CONTROLA TODOS LOS TEXTOS DESCRIPTIVOS DE LOS SISTEMAS*/
  display: block;
  font-family: Cabin;
  text-align: justify;
  color: white;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 380px;
  height: 760px;
  overflow-y: scroll;
}
.sistemaTextDescripcion img{
  border-radius: 10px;
}
/* ! */
/* ! ENTRE LOS COMENTARIOS ROJOS ES PARA EL SIDEBAR DE LA BARRA LATERAL */
.sistemaTextDescripcion::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.sistemaTextDescripcion:-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.sistemaTextDescripcion:-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

/* ! */
/* ! */ /* ! */ /* ! */ /* ! */ /* ! */ /* ! */ /* ! */ /* ! */

/* RESPETO SISTEMA */

.RespetoInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundRespetoSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.RespetoInputSistema:checked ~ .backgroundRespetoSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}

/* CHAKRA SISTEMA */

.ChakraInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundChakraSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.ChakraInputSistema:checked ~ .backgroundChakraSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}

/* SENJUTSU SISTEMA */

.senjutsuInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundSenjutsuSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.senjutsuInputSistema:checked ~ .backgroundSenjutsuSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}

/* REFLEJOS SISTEMA */

.reflejosInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundreflejosSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.reflejosInputSistema:checked ~ .backgroundreflejosSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}

/* BUFFS SISTEMA */

.buffsInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundBuffsSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.buffsInputSistema:checked ~ .backgroundBuffsSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}


/* DAÑO SISTEMA */

.dañoInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundDañoSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.dañoInputSistema:checked ~ .backgroundDañoSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}


/* RESISTENCIA DE CHAKRA SISTEMA */

.resistenciaInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundResistenciaSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.resistenciaInputSistema:checked ~ .backgroundResistenciaSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}

/* HERIDAS SISTEMA */

.heridasInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
  position: relative;
  max-width: 214px;
  max-height: 214px;
  left: 112px;
  top: 339px;
  border-radius: 10px;
}
.backgroundHeridasSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
  opacity: 0;
  position: fixed;
  width: 390px;
  height: 815px;
  left: 2000px;
  top: 80px;
  background:rgba(30, 16, 20, 0.5);
  border-radius: 15px;
  z-index: 3;
}
@keyframes slide {
  100% {left: 1509px;}
}
.heridasInputSistema:checked ~ .backgroundHeridasSistemaSlide{ /* esto controla la animacion */
  opacity: 1;
  animation: slide 0.5s forwards;
}







.hrSistemas{
  width: 75%;
}

#ejemploChakra1{
  display: block;
  color: yellow;
  border: 1px dashed #ff0000;
  background: rgba(155,111,0,0.35);
}
#ejemploChakra2{
  display: block;
  color: rgb(127, 124, 124);
  border: 1px dashed rgb(79, 26, 30);
  background: rgba(128, 38, 41, 0.35);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
#infoImportanteSistemas{ /* ! ESTO CONTROLA LOS TEXTOS IMPORTANTES*/
  color: rgb(8, 128, 24);
  text-decoration: underline;
}
#infoImportanteBoldSistemas{ /* ! ESTO CONTROLA LOS TEXTOS TITULO BOLD*/
  font-weight: bold;
  color: aqua;
}
#infoImportanteAvisos{
  font-weight: bold;
  color: rgb(193, 145, 161);
}
#desaparecerlista{
  list-style: none;
}

.clickButtonSistema{
  color: rgb(202, 206, 7);
  text-decoration: none;
  cursor: pointer;
}





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*! TALLERES CODE */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.tituloPaginaTalleres{
  padding-top: 20px;
}
.descripcionPaginaTalleres{
  padding-top: 40px;
}





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*! EVENTOS CODE */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.tituloPaginaEventos{
  padding-top: 20px;
}
.descripcionPaginaEventos{
  padding-top: 40px;
}


.rectangleObjetsGeneral{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 29px;
}
.EventoFondo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/plantillas/fondoEventos.webp);
  border-radius: 10px ;
  width: 320px;
  height: 449px;
  z-index: 3;
}
.tituloEvento{
  color: #dfdfdf;
  font-family: Naruto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(32, 14, 17, 0.70);
}
.descripcionEvento{
  position: relative;
  top: 117px;
  color: #dfdfdf;
  text-align: justify;
  font-family: Cabin;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(32, 14, 17, 0.70);

}









/*  */
/*  */
/*  */

/*  */
/* ! MEDIA QUIRIES PARA TODO - NO TOCAR */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-height: 735px){
  .linksNavegador{
    padding-top: 40px;
  }
}
@media (min-width: 1550px) {
    /* ? TAMAÑO PC*/
    .portadaInicio {
      position: relative;
      left: 616px;
    }
    .rectangleInicio {
      position: relative;
      left: 616px;
    }
    .rectangleObjetsGeneral{
      position: relative;
      left: 616px;
    }
}
@media (min-width: 1280px) and (max-width: 1549px) {
  /* ? TAMAÑO LAPTOP*/
  .portadaInicio {
    position: relative;
    left: 351px;
  }
  .rectangleInicio {
    position: relative;
    left: 351px;
  }
  .rectangleObjetsGeneral{
    position: relative;
    left: 351px;
  }
  .backgroundSistemasGeneral{
    background:rgb(30, 16, 20);
    
  }
  @keyframes slide {
    100% {left:860px;}
  }
}
@media (min-width: 1280px) {
  /* ? TAMAÑO PC -> lAPTOP*/
  .navBarCellphone {
    display: none;
  }
  footer{
    margin-left: 164px;
  }
  
}
@media (max-width: 1279px){
  .rectangleInicio{
    /* top: -30px; */
    display: flex;
    justify-content:center;
    min-height: 576px;
  }

  .hrNav{
    display:none;
  }
  .navegadorGeneral{
    width: 97px;
    height: 97px;
    border-radius: 10px;
    z-index: 2;
  }
  .iconoNav{
    top: 0px;
    left: 0px;
  }
  .navegadorGeneral:hover{
    width: 371px;
    height: 100%;
  }
  .navegadorGeneral:hover .hrNav{
    display: flex;
  }
  .linksNavegador{
    display: none;
  }
  .navegadorGeneral:hover .linksNavegador{
    display: flex;
    transition: all 0.5s;
  }
  .linksNavegador li img{
    display: none;
    transition: all 0.5s;
  }
  .navegadorGeneral:hover .linksNavegador li img{
    display: flex;
    transition: all 0.5s;
  }
  .squareDescripcion{
    margin-left: 0px;
  }
  .carousel{
    position: relative;
    left: auto;
    top: 299px;
    z-index: 1;
  }
  .backgroundSistemasGeneral{
    background:rgba(30, 16, 20);
  }

}
@media (max-width: 768px){
  @keyframes slide {
    100% {left:369px;}
  }
@media (max-width: 485px){
  .rectangleInicio{
    /* top: -30px; */
    display: flex;
    justify-content:center;
    min-height: 551px;
  }
  .rectangleObjetsGeneral a img{
    width: 428px;
  }

  /* Sistemas */
  .iconosSistemasGeneral{ /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
    display: grid;
    justify-content: center;
    grid-template-columns:53% 53%;
    grid-template-rows: 191px 191px 191px 191px 191px;
  }
  .ImgSistema{
    max-width: 180px;
    max-height: 180px;
  }

  @keyframes slide {
    100% {left:19px;}
  }
  /* FICHAS */

  .fondoFicha{
    margin-top: 220px;    
    transform: rotate(90deg);
  }
  .fondoFotoPerfil{
    transform: rotate(90deg);
  }





}
@media (width: 768px){
  /* SISTEMAS */
  .iconosSistemasGeneral{ /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
    display: grid;
    justify-content: center;
    grid-template-columns:26% 26% 26% 26%;
    grid-template-rows: 191px 191px 191px 191px 191px;
  }
  .ImgSistema{
    max-width: 180px;
    max-height: 180px;
  }
}

}
