/* ************FUENTES**************** */
@font-face {
    font-family: Cabin;
    src: url(./fonts/Cabin-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Naruto;
    src: url(./fonts/NinjaNaruto-YOn4.ttf);
}

/* *************CODIGO************ */
body{
    background-image: url("./images/Fondobackground.png");
    background-position: top;
    background-repeat: repeat;
    background-size: auto;
}
nav{
    position:fixed;
    top: -60px
}
@media (max-width: 550px) {
    nav{
        display: none;
        z-index: 3;
    }
    .inputSlide{
        display: inline;
        z-index: 2;
    }
    
    
}
footer{
    position: absolute;
    width: 853px;
    height: 38px;
    left: 634px;
    top: 1390px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

/* NAV */
.inputSlide{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    position: fixed;
    left: 0px;
    top: 434px;
    background-color:#802629;
    z-index: 3;
}
.casillaMobile{
    display: none;
}

.inputSlide:hover{
    background: grey; 
}
.slideIconMobile:checked ~ nav{
    display: block;
}
@media (min-width: 1280px){
    .inputSlide{
        display: none;
    }
    .casillaMobile{
        display: none;
    }
}

.navPerfil{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    width: 181px;
    height: 24px;
    left: 126px;
    top: 225px;
    color: white;
    z-index: 2;
}
.opcionesNav{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.opcionesNav a{
    text-decoration: none;
    color:rgb(128, 38, 41);
}
.opcionesNav a:hover{
    color: white;
}
#alertasNav{
    width: 22.29px;
    height: 22.27px;
    position: relative;
    left: -3px;
    top: 10px;
}
.rectangleNavSuperior{
    position: absolute;
    width: 342px;
    height: 263px;
    left: 45px;
    top: 94px;
    background: rgba(9, 5, 6, 0.85);
    border-radius: 30px;
    z-index: 2;
}
.fotoPerfil{
    position: absolute;
    width: 128px;
    height: 124px;
    left: 152px;
    top: 100px;
    background: #200E11;
    border-radius: 15px;
    z-index: 2;
}
.rectangleNavInferior{
    position: absolute;
    width: 342px;
    height: 685px;
    left: 45px;
    top: 301px;
    background: #200E11;
    border-radius: 0px 0px 30px 30px;
    z-index: 1;
}
#InfoPersonajeNav{
    position: absolute;
    width: 270px;
    height: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    left: -40px;
    top: 90px;
}

.navInfo{
    z-index: 2;
    position: absolute;
    width: 62px;
    height: 20px;
    left: 34px;
    top: 384px;
    font-family: Cabin;
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
}
.navInfo ul{
    list-style: none;
    display: grid;
    gap: 6px;
}
.navInfo ul li{
    padding-top: 5px;
    text-align: center;
    background-color: rgb(128, 38, 41) ;
    width: 76px;
    height: 25px;
    border-radius: 5px;
}
.squareInfo{
    z-index: -1;
    position: absolute;
    width: 285px;
    height: 30px;
    left: 40px;
    background: #4F1A1E;
    border-radius: 5px;
}
.squareName{
    top: 16px;
}
.squareName2{
    top: 52px;
}
.squareName3{
    top: 88px;
}
.squareName4{
    top: 124px;
}
.squareName5{
    top: 160px;
}
.squareName6{
    top: 196px;
}
.squareName7{
    top: 232px;
}
.squareName8{
    top: 268px;
}


.navLinks{
    z-index: 3;
    position: absolute;
    left: 34px;
    top: 676px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    list-style: none;

}
.navLinks ul{
    list-style: none;
    display: grid;
    gap: 12px;
}
.navLinks ul li a{
    color: #FFFFFF;
    text-decoration: none;

    padding: 3px;
    border-radius: 3px;
}

/* ESTO ES PARA QUE APAREZCA LOS TEXTOS A UN COSTADO DEL NAV */

#sideInicio{
    display: table;
}
.sideMenuInicio{
    width: 100px;
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 30px;
    white-space: nowrap;
    font-size: 14px;
    transition: ease-in-out all .4s;
    color: #FFFFFF;
    text-align: center;
}
#sideInicio:hover{
    width: 400px;
}
#sideInicio:hover .sideMenuInicio{
    z-index: -1;
    opacity: 1;
    background-color: #4F1A1E;
    width: 238px;
    padding-left: 75px;
    border-radius: 3px;
}

#sideFichas{
    display: table;
}
.sideMenuFichas{
    width: 100px;
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 78px;
    white-space: nowrap;
    font-size: 14px;
    transition: ease-in-out all .4s;
    color: #FFFFFF;
    text-align: center;
}
#sideFichas:hover{
    width: 400px;
}
#sideFichas:hover .sideMenuFichas{
    z-index: -1;
    opacity: 1;
    background-color: #4F1A1E;
    width: 238px;
    padding-left: 75px;
    border-radius: 3px;
}


#sideSistemas{
    display: table;
}
.sideMenuSistemas{
    width: 100px;
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 126px;
    white-space: nowrap;
    font-size: 14px;
    transition: ease-in-out all .4s;
    color: #FFFFFF;
    text-align: center;
}
#sideSistemas:hover{
    width: 400px;
}
#sideSistemas:hover .sideMenuSistemas{
    z-index: -1;
    opacity: 1;
    background-color: #4F1A1E;
    width: 223px;
    padding-left: 90px;
    border-radius: 3px;
}
#sideSistemas{
    display: table;
}


.sideMenuEventos{
    width: 100px;
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 174px;
    white-space: nowrap;
    font-size: 14px;
    transition: ease-in-out all .4s;
    color: #FFFFFF;
    text-align: center;
}
#sideEventos:hover{
    width: 400px;
}
#sideEventos:hover .sideMenuEventos{
    z-index: -1;
    opacity: 1;
    background-color: #4F1A1E;
    width: 223px;
    padding-left: 90px;
    border-radius: 3px;
}

.sideMenuTalleres{
    width: 100px;
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 222px;
    white-space: nowrap;
    font-size: 14px;
    transition: ease-in-out all .4s;
    color: #FFFFFF;
    text-align: center;
}
#sideTalleres:hover{
    width: 400px;
}
#sideTalleres:hover .sideMenuTalleres{
    z-index: -1;
    opacity: 1;
    background-color: #4F1A1E;
    width: 223px;
    padding-left: 90px;
    border-radius: 3px;
}

/* *****************INICIO DE INDEX*********************** */
.portadaInicio{
    position: absolute;
    width: 889px;
    height: 263px;
    left: 616px;
    top: 25px;
    border-radius: 15px;
    z-index: 2;
}
.rectangleInicio{
    position: absolute;
    width: 889px;
    height: 1065px;
    left: 616px;
    top: 250px;
    background: rgba(9, 5, 6, 0.85);
    border-radius: 15px;
    z-index: -1;
}

/* *************************MAIN INDEX****************************** */

.squareDescripcion{
    position: absolute;
    width: 342px;
    height: 267px;
    left: 634px;
    top: 310px;
    background: #200E11;
    border-radius: 30px;
}
.descripcionindex{
    position: absolute;
    width: 316px;
    height: 225px;
    left: 647px;
    top: 325px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;   
}

.caruselIndex{
    position: absolute;
    width: 485px;
    height: 267px;
    left: 1002px;
    top: 310px;
    background: rgba(127, 124, 124, 0.58);
    border-radius: 30px;
}
.caruselTextIndex{
    position: absolute;
    width: 176px;
    height: 15px;
    left: 1157px;
    top: 426px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

/* ***************HYPERLINKS IMAGENES INDEX********************* */
.sectionLinks a img{
    z-index: 2;
    position: absolute;
    width: 637px;
    height: 130px;
    left: 634px;    
}
.deidaraIndex{
    position: absolute;
    top: 598px;
}
.kakuzuIndex{
    position: absolute;
    top: 738px;
}
.konanIndex{
    position: absolute;
    top: 878px;
}
.hidanIndex{
    position: absolute;
    top: 1018px;
}
.sasoriIndex{
    position: absolute;
    top: 1158px;
}

.tituloLinkIndex{
    position: absolute;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.tituloIniciando{
    z-index: -1;
    top: 578px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloPlantillas{
    top: 718px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloForo{
    top: 858px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloTienda{
    top: 998px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloMapas{
    top: 1138px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.descripcionLinkIndex{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;   
}
.descripcionLinkIniciando{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 631px;
}
.descripcionLinkPlantillas{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 771px;
}
.descripcionLinkForo{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 911px;
}
.descripcionLinkTienda{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 1051px;
}
.descripcionLinkMapas{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 1191px;
}

/* ******************************** */
/*  */
/*  */
/*  */
                   /* FICHAS PAGE */
/*  */
/*  */
/*  */
/* ******************************* */


/* Parte Superior */
.rectangleInicioFichas{
    position: absolute;
    width: 889px;
    height: 1765px;
    left: 616px;
    top: 250px;
    background: rgba(9, 5, 6, 0.85);
    border-radius: 15px;
    z-index: -1;
}
#tituloFichas{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 778px;
    top: 323px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}
#descripcionFichas{
    position: absolute;
    width: 312px;
    height: 45px;
    left: 648px;
    top: 387px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;   
    color: #FFFFFF;
}
.botonsFichas div a{
    width: 71px;
    height: 34px;
    text-decoration: none;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.botonPJ{
    position: absolute;
    width: 88px;
    height: 34px;
    left: 663px;
    top: 510px;
    background: #4F1A1E;
    border-radius: 10px;
}
.botonNPC{
    position: absolute;
    width: 88px;
    height: 34px;
    left: 760px;
    top: 510px;
    background: #4F1A1E;
    border-radius: 10px;
}
.botonPC{
    position: absolute;
    width: 88px;
    height: 34px;
    left: 857px;
    top: 510px;
    background: #4F1A1E;
    border-radius: 10px;
}
#botontextPJ{
    position: absolute;
    padding-left: 26px;
}
#botontextNPC{
    position: absolute;
    padding-left: 21px;
}
#botontextPC{
    position: absolute;
    padding-left: 24px;
}
.botonsFichas div:hover{
    background: rgb(9,5,6);
    border-radius: 10px;
}
.caruselFichasUser{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 853px;
    height: 192px;
    left: 634px;
    top: 601px;
    background: #200e11b8;
    border-radius: 20px;
    color: #FFFFFF;
}
.pestañaDatosFicha{
    position: absolute;
    width: 700px;
    height: 1120px;
    left: 725px;
    top: 808px;
    background: rgba(127, 124, 124, 0.5);
    border-radius: 20px;
}
#fotoPersonajeFicha{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 550px;
    height: 550px;
    left: 800px;
    top: 825px;
    background: #D9D9D9;
}
#opcionesFicha{
    position: absolute;
    width: 114px;
    height: 22px;
    left: 921px;
    top: 1381px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
#editarFichaOption{
    position: absolute;
    text-decoration: none;
    color: #090506;
}
#borrarFichaOption{
    position: absolute;
    left: 200px;
    width: 124px;
    height: 22px;
    text-decoration: none;    
    color: #090506;
}
#opcionesFicha a:hover{
    color: white;
}
.nombrePersonajeFicha{
    position: absolute;
    width: 700px;
    height: 57px;
    left: 725px;
    top: 1409px;
    background: #090506;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
/*  */
/* DATOS BASICOS FICHA */
/*  */
.labelDatosBasicosFicha{
    position: absolute;
    width: 161px;
    height: 45px;
    left: 725px;
    top: 1491px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4F1A1E;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.datosbasicosInfoFicha{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 312px;
    height: 39px;
}
.labelbackgroundInfo{
    background: #090506;
    border-radius: 10px;
    padding-left: 20px;
    color: #FFFFFF;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:left;
}
.edadInfoFicha{
    position: absolute;
    width: 292px;
    height: 39px;
    left: 763px;
    top: 1567px;
}
.clanInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 1075px;
    top: 1567px;
}
.alturaInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 763px;
    top: 1611px;    
}
.pesoInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 1075px;
    top: 1611px;  
}
.anaciInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 763px;
    top: 1655px;
}
.aresiInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 1075px;
    top: 1655px;
}
.bandoInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 763px;
    top: 1699px;
}
.profesionInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 1075px;
    top: 1699px;
}
.sangreInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 763px;
    top: 1743px;
}
.mascotaInfoFicha{
    position: absolute;
    width: 312px;
    height: 39px;
    left: 1075px;
    top: 1743px;
}
.apodoInfoFicha{
    position: absolute;
    width: 623px;
    height: 89px;
    left: 763px;
    top: 1786px;    
}

/*  */
/* FOOTER FICHAS */
/*  */
#footerFichas{
    position: absolute;
    top: 1980px;
}


/* ******************************** */
/*  */
/*  */
/*  */
                   /* SISTEMAS PAGE */
/*  */
/*  */
/*  */
/* ******************************* */

#tituloSistemas{
    position: absolute;
    width: 78px;
    height: 24px;
    left: 766px;
    top: 323px; 
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}
#descripcionSistemas{
    position: absolute;
    width: 316px;
    height: 123px;
    left: 647px;
    top: 382px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;
}
.iconosSistemasGeneral{ /* ESTO CONTROLA LOS ICONOS DEL GRID PARA LUEGO VOLVERLOS SELECTORES */
    position: absolute;
    left: 616px;
    top: 250px;
    background: rgba(9, 5, 6, 0.85);
    border-radius: 15px;
    z-index: -1;
    /* Trabajar desde acá con opciones avanzada de la  pagina*/
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 225px 225px 225px 225px 225px;
    min-width: 889px;
    min-height: 2900px;
}
.inputIconGeneral{ /* ? Esto es para ocultar los radios*/
    display: none;
}
.ImgSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 4px;
    top: 439px;
    border-radius: 10px;
}
.backgroundEstadisticaSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.estadisticaInputSistema:checked ~ .backgroundEstadisticaSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}

.sistemaTextDescripcion #tituloSistemaSlide{ /* ! ESTO CONTROLA TODOS LOS TITULOS */
    position: relative;
    align-items: center;
    text-align: center;
    top: -40px;
    display: block;
    font-family: Naruto;
    font-size: 24px;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.sistemaTextDescripcion{ /* ? ESTO CONTROLA TODOS LOS TEXTOS DESCRIPTIVOS DE LOS SISTEMAS*/
    display: block;
    font-family: Cabin;
    text-align: justify;
    color: white;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 380px;
    height: 760px;
    overflow-y: scroll;
}
.sistemaTextDescripcion img{
    border-radius: 10px;
}
/* ! */
/* ! ENTRE LOS COMENTARIOS ROJOS ES PARA EL SIDEBAR DE LA BARRA LATERAL */
.sistemaTextDescripcion::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .sistemaTextDescripcion:-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .sistemaTextDescripcion:-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
  }

/* ! */
/* ! */ /* ! */ /* ! */ /* ! */ /* ! */ /* ! */ /* ! */ /* ! */

/* RESPETO SISTEMA */

.RespetoInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundRespetoSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.RespetoInputSistema:checked ~ .backgroundRespetoSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}

/* CHAKRA SISTEMA */

.ChakraInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundChakraSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.ChakraInputSistema:checked ~ .backgroundChakraSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}

/* SENJUTSU SISTEMA */

.senjutsuInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundSenjutsuSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.senjutsuInputSistema:checked ~ .backgroundSenjutsuSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}

/* REFLEJOS SISTEMA */

.reflejosInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundreflejosSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.reflejosInputSistema:checked ~ .backgroundreflejosSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}

/* BUFFS SISTEMA */

.buffsInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundBuffsSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.buffsInputSistema:checked ~ .backgroundBuffsSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}


/* DAÑO SISTEMA */

.dañoInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundDañoSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.dañoInputSistema:checked ~ .backgroundDañoSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}


/* RESISTENCIA DE CHAKRA SISTEMA */

.resistenciaInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundResistenciaSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.resistenciaInputSistema:checked ~ .backgroundResistenciaSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}

/* HERIDAS SISTEMA */

.heridasInputSistema{ /* ESTO CONTROLA EL TAMAÑO DE LOS ICONOS DEL GRID */
    position: relative;
    max-width: 214px;
    max-height: 214px;
    left: 112px;
    top: 339px;
    border-radius: 10px;
}
.backgroundHeridasSistemaSlide{ /* ESTO CONTROLA EL SLIDE DEL TEXTO DE LOS SISTEMAS*/
    opacity: 0;
    position: fixed;
    width: 390px;
    height: 815px;
    left: 2000px;
    top: 80px;
    background:rgba(30, 16, 20, 0.5);
    border-radius: 15px;
    z-index: 3;
}
@keyframes slide {
    100% {left: 1509px;}
}
.heridasInputSistema:checked ~ .backgroundHeridasSistemaSlide{ /* esto controla la animacion */
    opacity: 1;
    animation: slide 0.5s forwards;
}







hr{
    width: 75%;
}

#ejemploChakra1{
    display: block;
    color: yellow;
    border: 1px dashed #ff0000;
    background: rgba(155,111,0,0.35);
}
#ejemploChakra2{
    display: block;
    color: rgb(127, 124, 124);
    border: 1px dashed rgb(79, 26, 30);
    background: rgba(128, 38, 41, 0.35);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}
#infoImportanteSistemas{ /* ! ESTO CONTROLA LOS TEXTOS IMPORTANTES*/
    color: rgb(8, 128, 24);
    text-decoration: underline;
}
#infoImportanteBoldSistemas{ /* ! ESTO CONTROLA LOS TEXTOS TITULO BOLD*/
    font-weight: bold;
    color: aqua;
}
#infoImportanteAvisos{
    font-weight: bold;
    color: rgb(193, 145, 161);
}
#desaparecerlista{
    list-style: none;
}






















.clickButtonSistema{
    color: rgb(202, 206, 7);
    text-decoration: none;
    cursor: pointer;
}




/*  */
/* 
 /* */ */



/*  */
/*  */

.footerSistemas{
    position: absolute;
    top: 1100px;
}




/* ******************************** */
/*  */
/*  */
/*  */
                   /* EVENTOS PAGE */
/*  */
/*  */
/*  */
/* ******************************* */

.iconosEventosGeneral{
    position: absolute;
    /* overflow: hidden; */
    left: 616px;
    top: 250px;
    background: rgba(9, 5, 6, 0.85);
    border-radius: 15px;
    z-index: -1;
    /* Trabajar desde acá con opciones avanzada de la  pagina*/
    display: grid;
    grid-template-columns: 157px 157px 157px 157px 157px;
    grid-template-rows: 157px 157px 157px 157px 157px;
    min-width: 889px;
    min-height: 890px;
}
#tituloEventos{
    position: absolute;
    width: 78px;
    height: 24px;
    left: 766px;
    top: 323px; 
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}
#descripcionEventos{
    position: absolute;
    width: 316px;
    height: 123px;
    left: 647px;
    top: 410px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;
}
.imgEvento{
    position: relative;
    width: 119px;
    height: 119px;
    left: 18px;
    top: 375px;
}
.rectangleEventoActivo{
    position: absolute;
    left: 137px;
    top: 375px;
    width: 734px;
    height: 119px;
    background: rgba(32, 14, 17, 0.5);
    border-radius: 0px 30px 30px 0px;
}
.rectangleEventoActivo span{
    position: relative;
    width: 146px;
    height: 15px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.textEventoActivo{
    position: relative;
    top: 5px;
    left: 8px;
}
.textEventoFin{
    position: relative;
    top: 25px;
    left: -119px;
}
.textEventodescripcion{
    position: relative;
    top: 45px;
    left: -238px;
}
.imgSaga{
    position: relative;
    width: 119px;
    height: 119px;
    left: -139px;
    top: 516px;
}

.rectangleSagaActivo{
    position: absolute;
    left: 137px;
    top: 516px;
    width: 734px;
    height: 119px;
    background: rgba(32, 14, 17, 0.5);
    border-radius: 0px 30px 30px 0px;
}
.rectangleSagaActivo span{
    position: relative;
    width: 146px;
    height: 15px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.textSagaActivo{
    position: relative;
    top: 5px;
    left: 8px;
}
.textSagaFin{
    position: relative;
    top: 25px;
    left: -111px;
}
.textSagadescripcion{
    position: relative;
    top: 45px;
    left: -229px;
}

/* ******************************** */
/*  */
/*  */
/*  */
                   /* TALLERES PAGE */
/*  */
/*  */
/*  */
/* ******************************* */

.rectangleTalleres{
    position: absolute;
    /* overflow: hidden; */
    left: 616px;
    top: 250px;
    background: rgba(9, 5, 6, 0.85);
    border-radius: 15px;
    z-index: -1;
    /* Trabajar desde acá con opciones avanzada de la  pagina*/
    /* display: grid;
    grid-template-columns: 157px 157px 157px 157px 157px;
    grid-template-rows: 157px 157px 157px 157px 157px;
    min-width: 889px;
    min-height: 890px; */
}

#tituloTalleres{
    position: absolute;
    width: 78px;
    height: 24px;
    left: 766px;
    top: 323px; 
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}
#descripcionTalleres{
    position: absolute;
    width: 316px;
    height: 123px;
    left: 647px;
    top: 402px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;
}

/* ***************HYPERLINKS IMAGENES TALLERES********************* */
.sectionLinksTalleres a img{
    z-index: 2;
    position: absolute;
    width: 637px;
    height: 130px;
    left: 634px;    
}
.kisameIndex{
    position: absolute;
    top: 598px;
}
.ankkoIndex{
    position: absolute;
    top: 738px;
}
.orochimaruIndex{
    position: absolute;
    top: 878px;
}

.tituloLinkTalleres{
    position: absolute;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.tituloTallerTecnicas{
    z-index: -1;
    top: 578px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloTallerHabilidades{
    top: 718px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloTallerNPC{
    top: 858px;
    padding-top: 8px;
    padding-left: 4px;
    left: 1273px;
    background-color: #4F1A1E;
    position: absolute;
    width: 210px;
    height: 122px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.descripcionLinkTalleres{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;   
}
.descripcionLinkTallerTecnicas{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 631px;
}
.descripcionLinkTallerHabilidades{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 771px;
}
.descripcionLinkTallerNPC{
    position: absolute;
    width: 169px;
    height: 62px;
    left: 1300px;
    top: 911px;
}


.footerTalleres{
    position: absolute;
    top: 1100px;
}


/* FULL RESPONSIVE PART */

@media (max-width: 550px) {
 .portadaInicio{
    position: absolute;
    width: 433px;
    height: 128px;
    left: 0px;
    top: 62px;
 }
 .rectangleInicio{
    position: absolute;
    width: 428px;
    height: 102%;
    left: 1px;
    top: 162px;
 }
 .squareDescripcion{
    position: absolute;
    width: 342px;
    height: 267px;
    left: 44px;
    top: 200px;
 }
 .descripcionindex{
    position: absolute;
    width: 316px;
    height: 225px;
    left: 57px;
    top: 215px;
 }
 .caruselIndex{
    position: absolute;
    width: 428px;
    height: 236px;
    left: 0px;
    top: 477px;
 }
 .caruselTextIndex{
    position: absolute;
    width: 179px;
    height: 19px;
    left: 137px;
    top: 589px;
 }
  #deidaraIndexImg{
    position: absolute;
    width: 320px;
    height: 65px;
    left: -9px;
    top: 125px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
  }
#kakuzuIndexImg{
    position: absolute;
    width: 320px;
    height: 65px;
    left: -9px;
    top: 60px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
  }
  #konanIndexImg{
    position: absolute;
    width: 320px;
    height: 65px;
    left: -9px;
    top: -5px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
  }
  #hidanIndexImg{
    position: absolute;
    width: 320px;
    height: 65px;
    left: -9px;
    top: -70px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
  }
  #sasoriIndexImg{
    position: absolute;
    width: 320px;
    height: 65px;
    left: -9px;
    top: -135px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
  }
.tituloIniciando{
    position: absolute;
    width: 104px;
    height: 57px;
    left: 320px;
    top: 703px;
}
.tituloPlantillas{
    position: absolute;
    width: 104px;
    height: 57px;
    left: 320px;
    top: 778px;
}
.tituloForo{
    position: absolute;
    width: 104px;
    height: 57px;
    left: 320px;
    top: 853px;
    justify-content: center;
}
.tituloTienda{
    position: absolute;
    width: 104px;
    height: 57px;
    left: 320px;
    top: 928px;
}
.tituloMapas{
    position: absolute;
    width: 104px;
    height: 57px;
    left: 320px;
    top: 1003px;
}
.descripcionLinkIndex{
    display: none;
}
footer{
    width: 417px;
    height: 66px;
    left: 5px;
    top: bottom;

}
}
/* ******************MEDIA QUERIE DE TALLERES.HTML************************ */

@media (max-width: 550px) {
    .rectangleTalleres{
        position: absolute;
        width: 428px;
        height: 816px;
        left: 0px;
        top: 160px;
    }
    #tituloTalleres{
        position: absolute;
        width: 66px;
        height: 24px;
        left: 181px;
        top: 224px;        
    }
    #descripcionTalleres{
        position: absolute;
        width: 316px;
        height: 96px;
        left: 56px;
        top: 310px;
    }
    #kisameTalleresImg{
        position: absolute;
        width: 320px;
        height: 65px;
        left: -9px;
        top: 125px;
        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px;
    }
    #ankkoTalleresImg{
        position: absolute;
        width: 320px;
        height: 65px;
        left: -9px;
        top: 60px;
        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px;
    }
    #orochimaruTalleresImg{
        position: absolute;
        width: 320px;
        height: 65px;
        left: -9px;
        top: -5px;
        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px;
    }
    .tituloTallerTecnicas{
        position: absolute;
        width: 104px;
        height: 57px;
        left: 320px;
        top: 703px;
    }
    .tituloTallerHabilidades{
        position: absolute;
        width: 104px;
        height: 57px;
        left: 320px;
        top: 778px;
    }
    .tituloTallerNPC{
        position: absolute;
        width: 104px;
        height: 57px;
        left: 320px;
        top: 853px;
    }
}

/* ******************MEDIA QUERIE DE SISTEMAS.HTML************************ */

@media (max-width: 550px) {
    #tituloSistemas{
        position: absolute;
        width: 78px;
        height: 24px;
        left: 175px;
        top: 224px;
    }
    #descripcionSistemas{
        position: absolute;
        width: 316px;
        height: 123px;
        left: 56px;
        top: 283px;
    }
    .iconosSistemasGeneral{
        position: absolute;
        width: 428px;
        height: 1657px;
        padding-top: 220px;
        left: 0px;
        top: 159px;
        display: grid;
        grid-template-columns: 157px 157px;
        grid-template-rows: 157px 157px 157px 157px 157px 157px 157px;
        min-width: 428px;
        min-height: 990px;
    }
    .iconosSistemasGeneral img{
        position: absolute;
        width: 149px;
        height: 149px;
        border-radius: 20px;
        z-index: -1;    
    
    }
    .iconosSistemasGeneral span{
        padding-top: 220px;
    }
    .sideTestingSistema{
        position: absolute;
        left: auto;
        top: 117px;
    }
    .footerSistemas{
        position: absolute;
        top: 2100px;
    }


}

/* ******************MEDIA QUERIE DE FICHAS.HTML************************ */

@media (max-width: 550px) {
    .rectangleInicioFichas{
        position: absolute;
        width: 428px;
        height: 1537px;
        left: 0px;
        top: 159px;
    }
    #tituloFichas{
        position: absolute;
        width: 54px;
        height: 24px;
        left: 189px;
        top: 213px;
    }
    #descripcionFichas{
        position: absolute;
        width: 312px;
        height: 45px;
        left: 59px;
        top: 277px;
    }
    .botonPJ{
        position: absolute;
        width: 88px;
        height: 34px;
        left: 74px;
        top: 400px;
    }
    .botonNPC{
        position: absolute;
        width: 88px;
        height: 34px;
        left: 171px;
        top: 400px;
    }
    .botonPC{
        position: absolute;
        width: 88px;
        height: 34px;
        left: 268px;
        top: 400px;
    }
    .caruselFichasUser{
        position: absolute;
        width: 428px;
        height: 141px;
        left: 0px;
        top: 723px;
    }
    .pestañaDatosFicha{
        position: absolute;
        width: 428px;
        height: 415px;
        left: 0px;
        top: 874px;
    }
    #fotoPersonajeFicha{
        position: absolute;
        top: 874px;
        width: 338px;
        height: 350px;
        left: 45px;
        top: 905px;
    }
    #opcionesFicha{
        position: absolute;
        width: 114px;
        height: 22px;
        left: 60px;
        top: 1261px;
        font-family: 'Cabin';
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }
    .nombrePersonajeFicha{
        position: absolute;
        width: 428px;
        height: 57px;
        left: 0px;
        top: 1292px;
    }
    .labelDatosBasicosFicha{
        position: absolute;
        width: 161px;
        height: 45px;
        left: 0px;
        top: 1369px;
    }
    .labelbackgroundInfo{
 
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:left;
    }
    .edadInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 13px;
        top: 1445px;
    }
    .clanInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 215px;
        top: 1445px;
    }
    .alturaInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 13px;
        top: 1475px;
    }
    .pesoInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 215px;
        top: 1475px;
    }
    .anaciInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 13px;
        top: 1505px;
    }
    .aresiInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 215px;
        top: 1505px;
    }
    .bandoInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 13px;
        top: 1535px;
    }
    .profesionInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 215px;
        top: 1535px;
    }
    .sangreInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 13px;
        top: 1565px;
    }
    .mascotaInfoFicha{
        position: absolute;
        width: 180px;
        height: 25px;
        left: 215px;
        top: 1565px;
    }
    .apodoInfoFicha{
        position: absolute;
        width: 382px;
        height: 59px;
        left: 13px;
        top: 1595px;
    }
    #footerFichas{
        position: absolute;
        top: 1780px;
    }    
}
/* ******************MEDIA QUERIE DE EVENTOS.HTML************************ */

@media (max-width: 550px) {
    .iconosEventosGeneral{
        position: absolute;
        width: 428px;
        height: 537px;
        left: -18px;
        top: 159px;
        padding-top: 220px;
        min-width: 446px;
        min-height: 690px;
        border-radius: 10px;
    }
    #tituloEventos{
        position: absolute;
        width: 70px;
        height: 24px;
        left: 182px;
        top: 236px;
    }
    #descripcionEventos{
        position: absolute;
        width: 316px;
        height: 78px;
        left: 59px;
        top: 306px;
    }
    .rectangleEventoActivo{
        position: absolute;
        top: 596px;
        width: 309px;
    }
    .rectangleSagaActivo{
        position: absolute;
        top: 736px;
        width: 309px;
    }
    .footerSistemas{
        position: absolute;
        top: 1100px;
    }





}